html, body{
    margin:0;
    padding:0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    height:100%;
    color: #24243e;
}
#wrapper {
    min-height:100%;
    height:auto !important;
    height:100%;
    margin:0 auto 0;
    position:relative;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}
#footer {
    padding: 20px;
    background: white;
    height:50px;           /* Footer height */
}
#footer-content {
    height:100%;
    padding:0px;
}
#header-content{
    font-size: x-large;
    height:100%;

}
.formCard {
    background:#24243e;
    color: white;
    width:80%;
    margin: 20px;
    padding-bottom: 25px;
}
.cardHeader {
    color: #24243e;
    background: white;
    font-size: large;
    margin-bottom: 25px;
    font-weight: bolder;
    text-transform: uppercase;
}
.push {
    height:0px;
    clear:both;
    background: white;
}
#header {
    height:100px;
}
#content {
    height:100%;
}
#sidebar {
    border:1px solid skyblue;
    width:100px;
    position:absolute;
    left:0;
    top:115px;
    bottom:0px;
}
#main {
    margin: 0 50px 0 106px;
    height: 100%;
}
img{
    height: 75px;
    margin:0;
    padding: 0;
    float: left;
}
.headerFooter{
    color: #24243e;
}
.profile{
    margin: 0 75px 0 125px;
    height: 95vh;
}
.scroll{
    overflow-y:auto;
    height:80vh;
}
.collapsible {
    background-color: #6d7fcc;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    margin:0;
}
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    margin:0;
}
.personalInfo-grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}
.personalInfo-grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.eportBanner{
    margin-bottom: 10px;
    margin-top: 10px;
}
.eportInfo {
    text-align: center;
    font-weight: bolder;
}
.job-list{
    color: #06357a;
    font-family: "Helvetica Neue Light",  sans-serif;
}
.job-list td{
    height: 100px;
}
.affinity{
    width:80%;
    margin: 50px;
}
.photo-button {
    width: 120px;
    height: 50px;
    font-size: medium;
    line-height: 45px;
    text-align: center;

}
.photo-header {
    text-align: center;
    Font-family: 'Bree Serif';
    font-size: 20px;
    padding-bottom: 25px;
    text-transform: uppercase;
}
.photo-desc{

    Font-family: 'Bree Serif';
    text-align: justify;
}
.grid-container{
    margin: 50px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-column-gap: 20px;
    grid-row-gap: 15px;
    background-color: #6d7fcc;
    padding: 20px;
    font-family: "Helvetica Neue Light",  sans-serif;
}
.grid-container > div {
    background-color: whitesmoke;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;

}
.item {
    color: #24243e;

}
.item-Title {
    grid-column-start: 1;
    grid-column-end: 4;
}
.item-Header {
    text-transform: capitalize;
    font-weight: bolder;
    row-gap: 0;
}
.item-JobTitle {
    grid-column-start: 2;
    grid-column-end: 4;
}
.item-Apply {
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 3;
    grid-column-end: 4
}
.item-JobDescription {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 8;
    grid-row-end: 11;
}





